@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
    vertical-align: middle;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.125;
    font-weight: 900;
    @include line-height(1.125);
    @include margin(.5, 0, .5, 0);

    &-link {
      color: $menu-button-color;

      &:hover,
      &:focus {
        font-size: $typographic-base-font-size * 2.140;
        color: $menu-button-color;
        transition: ease-in-out;
        transition-duration: 2s;
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

}