@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $menu-button-color;
    z-index: 20000;

    &-item {
      padding: 0;
      margin: 10px 0;



      &-link {
        font-size: $typographic-base-font-size;
        color: $menu-button-color;
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: $background-color;
          background: $menu-button-color;
          padding: 5px;

        }

        &--active {
          color: $background-color;
          background: $menu-button-color;
          padding: 5px;

          ;
        }

      }

    }

  }

}